extends ../_layout

block head
  style.
    table h1,
    table h2,
    table h3,
    table h4,
    table h5,
    table h6 {
      margin: 0;
    }

block main
  h1 タイポグラフィ
  h2 見出し
  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      each i in [1, 2, 3, 4, 5, 6]
        tr
          td: code &lt;h#{i}&gt;&lt;/h#{i}&gt;
          td: #{'h' + i} 見出しレベル#{i}

  h3 ディスプレイ見出し
  p
    code display
    | クラスを付与することで、より大きなサイズの見出しにできます。

  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      each i in [1,2,3,4,5,6]
        tr
          td: code &lt;h#{i} class="display"&gt;&lt;/h#{i}&gt;
          td: #{'h' + i}.display 見出しレベル#{i}

  h2 文字サイズ
  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      tr
        td: code &lt;span class="text-size-huge"&gt;&lt;/span&gt;
        td: span.text-size-huge 巨大
      tr
        td: code &lt;span class="text-size-larger"&gt;&lt;/span&gt;
        td: span.text-size-larger より大きい
      tr
        td: code &lt;span class="text-size-large"&gt;&lt;/span&gt;
        td: span.text-size-large 大きい
      tr
        td: code &lt;span class="text-size-normal"&gt;&lt;/span&gt;
        td: span.text-size-normal 普通
      tr
        td: code &lt;span class="text-size-small"&gt;&lt;/span&gt;
        td: span.text-size-small 小さい
      tr
        td: code &lt;span class="text-size-smaller"&gt;&lt;/span&gt;
        td: span.text-size-smaller より小さい
      tr
        td: code &lt;span class="text-size-tiny"&gt;&lt;/span&gt;
        td: span.text-size-tiny 極小

  h2 その他

  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      tr
        td: code &lt;a href="#"&gt;リンク&lt;/a&gt;
        td: a(href="#") リンク
      tr
        td: code &lt;code&gt;Hello, XelticaUI!&lt;/code&gt;
        td: code Hello, XelticaUI!
