extends ../_layout

block head
  style.
    table h1,
    table h2,
    table h3,
    table h4,
    table h5,
    table h6 {
      margin: 0;
    }

block main
  h1 タイポグラフィ
  h2 見出し
  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      each i in [1,2,3,4,5,6]
        tr
          td: code &lt;h#{i}&gt;&lt;/h#{i}&gt;
          td: #{'h' + i} 見出しレベル#{i}

  h3 強調
  p より大きなサイズの見出しが必要であれば、
    code _big
    | クラスを付与します。

  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      each i in [1,2,3,4,5,6]
        tr
          td: code &lt;h#{i} class="_big"&gt;&lt;/h#{i}&gt;
          td: #{'h' + i}._big 見出しレベル#{i}

  h2 その他

  table.table
    thead
      tr
        th 構文
        th 例
    tbody
      tr
        td: code &lt;a href="#"&gt;リンク&lt;/a&gt;
        td: a(href="#") リンク
      tr
        td: code &lt;code&gt;Hello, Xeltica UI!&lt;/code&gt;
        td: code Hello, Xeltica UI!
