extends _layout

block head
  style.
    .xd-colorbox {
      width: 64px;
      height: 64px;
      padding: 4px;
      font-size: 0.8rem;
      color: transparent;
      overflow: visible;
      position: relative;
    }
    .xd-colorbox:hover {
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 1px 3px var(--black);
    }
    .xd-colorbox > span {
      position: absolute;
      top: 2px;
      left: 2px;
    }

block main
  h1 カラー
  p Xeltica Design System では、#{colors.length * 10 + 20}種類の色を定義しています。
  h2 カラーボックス
  p 定義済みの全ての色を確認できます。ホバーかクリックで、名前を確認できます。
  p.text-dimmed#colorbox-desc
  .vstack.dense

    - for (let i = 1; i <= 10; i++)
      .hstack.dense
        each tuple in colors
          - const [name] = tuple;
          .xd-colorbox.select-none.clickable(class=`bg-${name}-${i}`): span= `${name}-${i}`
        .xd-colorbox.select-none.clickable(class=`bg-gray-${i * 2 - 1}`): span= `gray-${i * 2 - 1}`
        .xd-colorbox.select-none.clickable(class=`bg-gray-${i * 2}`): span= `gray-${i * 2}`
    .test

block append script
  script.
    const cb = navigator.clipboard;
    let shift = false;

    if (cb) {
      document.getElementById('colorbox-desc').innerHTML += '色をタップ/クリックすると、クリップボードに名前をコピーできます。<br />PCでは、シフトキーを押しながらクリックすると16進コードをコピーできます。';

      document.addEventListener('keydown', e => {
        if (e.key === 'Shift') shift = true;
      });
      document.addEventListener('keyup', e => {
        if (e.key === 'Shift') shift = false;
      });

      const colorBoxes = [...document.getElementsByClassName('xd-colorbox')];
      colorBoxes.forEach(el => {
        el.addEventListener('click', e => {
          const className = e.target.innerText;
          const value = getComputedStyle(document.body)
            .getPropertyValue('--' + className);
          console.log(shift ? value : className);
          cb.writeText(shift ? value : className);
        });
      });
    }
